{% extends 'trips/layout.html' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<div class="px-4 py-5 text-center">
    <h1 class="display-6 fw-bold">Bienvenido!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Conecta con personas que se dirijen al mismo sitio que tu!</p>
        <div class="justify-content-sm-center">
            <input class="form-control" type="text" placeholder="Escribe aqui tu destino" autocomplete="off" autofocus>
        </div>
    </div>
</div>
<div class="row">
    <h3>Viajes disponibles</h3>
</div>
<div class="row">
    <h3>Como funciona la plataforma?</h3>
</div>
{% endblock%}