{% extends "trips/auth.html" %}

{% block title %}Iniciar Sesion{% endblock %}

{% block body %}
<form action="{% url 'login' %}" method="POST">
    {%csrf_token%}
    <h3 class="mb-4 mt-4">Iniciar Sesion</h1>
    {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% else %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{message}}
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    <div class="form-floating mb-1">
        <input type="text" class="form-control" id="usuario" name="username" placeholder="Usuario" autocomplete="off" autofocus>
        <label for="usuario">Usuario</label>
    </div>
    <div class="form-floating mb-1">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password">Contrasena</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
</form>
{% endblock %}