#trip-card:hover {
    background-color:lightslategray;
    color: white;
}

#trip-card:hover small {
    color: white !important;
}

#trip-card a {
    text-decoration: inherit;
    color: inherit;

}

.plain-link {
    text-decoration: inherit;
    color: inherit;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }